<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SPROJECT01-FINAL</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginForm</servlet-name>
    <servlet-class>myProject.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginForm</servlet-name>
    <url-pattern>/login.form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginProcess</servlet-name>
    <servlet-class>myProject.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginProcess</servlet-name>
    <url-pattern>/login.process</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutProcess</servlet-name>
    <servlet-class>myProject.LogoutProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutProcess</servlet-name>
    <url-pattern>/logout.process</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexProcess</servlet-name>
    <servlet-class>myProject.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexProcess</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myProductList</servlet-name>
    <servlet-class>myProject.MyProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myProductList</servlet-name>
    <url-pattern>/my.product.list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteMyProduct</servlet-name>
    <servlet-class>myProject.DeleteMyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMyProduct</servlet-name>
    <url-pattern>/delete.my.product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productDetail</servlet-name>
    <servlet-class>myProject.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDetail</servlet-name>
    <url-pattern>/product.detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>myProject.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/add.product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteAllMyProduct</servlet-name>
    <servlet-class>myProject.DeleteAllMyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAllMyProduct</servlet-name>
    <url-pattern>/delete.all.my.product</url-pattern>
  </servlet-mapping>
</web-app>